.vscode/tasks.json
*.exe
Tree/MathExpression
Stack/LinkedListStack
Stack/arrayStack
LinkedList/menuSinglyLinkedList
LinkedList/doublyLinkedList
LinkedList/vgcore.21471
LinkedList/circularLinkedList

Queue/linkedListQueue
Queue/circularQueue
Queue/priorityQueue
Heap/minHeap
